.message-incorrect {
  display: block;

  width: 200px;
  padding-top: 8px;
  margin: 0 auto;

  font-weight: normal;
  font-size: 13px;
  line-height: 19px;

  color: #ff0000;
  opacity: 0.75;

  &--hidden {
    display: none;
  }
}
